@import '../../template.scss';

.searchPage {
  width: $width-5;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-5;
  grid-template-columns: 1fr 3.5fr;
  align-items: flex-start;

  @media (max-device-width: 768px) {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.searchHeader {
  @extend .heading-2;
  margin-bottom: $margin-4;

  span {
    @extend .hoverLink;
  }

  .active {
    color: $pink-5;
  }
}

.filterList {
  @extend .card;
  display: grid;
  grid-gap: $margin-4;
}

.filterLabel {
  margin-bottom: $margin-3;
}

.filterRatings {
  font-size: $text-4;
  letter-spacing: 3px;
}

.seeMoreContainer {
  margin-top: $margin-4;
}
