@import '../../template.scss';

.eventModal {
  @extend .shadow-2;
  max-width: $width-2;
  background-color: $white;
  padding: $margin-4;
  border-radius: $border-radius-1;
}

.editEvents {
  @extend .link;
  margin-left: $margin-2;

  &:hover {
    color: $pink-5;
  }
}
