@import '../../template.scss';

.review {
  @extend .card;
  display: grid;
  grid-gap: $margin-3;
  padding: $margin-4;
}

.reviewLikes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fadedContent {
  @extend .faded;
  font-family: $serif;
  font-size: $text-3;
  line-height: 1.5;
  padding: 0 $margin-2;
}
