@import '../../template.scss';

.page {
  width: $width-3;
  margin: 0 auto;
  margin-top: $margin-4;
  display: grid;
  grid-gap: $margin-5;

  @media (max-device-width: 768px) {
    width: 100%;
    padding: 0 $margin-3;
    grid-gap: $margin-4;
    box-sizing: border-box;
  }
}

.profile {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.33fr);
  grid-gap: $margin-5;
  min-height: calc(350rem / 14);

  @media (max-device-width: 768px) {
    grid-gap: $margin-4;
    grid-template-columns: 1fr;
  }
}

.thumbnail {
  @extend .shadow-3;
  border-radius: $border-radius-2;
  overflow: hidden;

  @media (max-device-width: 768px) {
    height: calc(350rem / 14);
  }
}

.title {
  font-weight: 600;
  font-size: $text-7;
  margin-top: $margin-3;
  margin-bottom: $margin-3;
  line-height: $line-height-1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  @extend .hoverLink;
  color: $dark-6;
  font-size: $text-4;
  font-weight: 600;
  margin-right: $margin-2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album {
  color: $dark-6;
  font-size: $text-4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  margin: $margin-3 0;
}
