@import '../../template.scss';

.newItem {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: $margin-3;
  font-size: $text-2;
  color: $dark-5;
  text-transform: uppercase;

  svg {
    margin-left: $margin-1;
    font-size: $text-3;
  }

  &:hover {
    color: $pink-5;
  }
}
