@import '../../template.scss';

.event {
  display: flex;
  align-items: center;
  font-size: $text-5;
  font-family: $serif;
  color: $dark-10;

  svg {
    margin-right: $margin-2;
  }
}

.eventTime {
  margin-left: $margin-2;
  color: $dark-5;
}

.addEvent {
  margin-left: auto;

  button {
    @extend .btn;
    font-size: $text-2;
    font-family: $sans-serif;
  }
}
