@import '../../template.scss';

.navbarContainer {
  width: 100vw;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: $width-5;
  margin: 0 auto;
  padding: 0 $margin-3;
  height: $margin-5;

  a {
    @extend .transition;
    padding: $margin-3;
    display: block;
    white-space: nowrap;

    &:hover {
      color: $pink-4;
    }

    @media (max-device-width: 768px) {
      padding: $margin-2;
      font-size: $text-1;
    }
  }

  .active {
    color: $pink-5;
  }

  .brand {
    font-family: $serif;
    font-weight: 600;
    margin-right: auto;
    font-size: $text-5;
    padding: 0;

    @media (max-device-width: 768px) {
      margin-right: $margin-3;
    }
  }
}

.logoutBtn {
  color: $dark-5;
}

button.shuffleBtn {
  display: flex;
  align-items: center;
  font-weight: 600;
  border: 1px solid $dark-9;
  background-color: $white;
  margin: 0 $margin-3;

  svg {
    margin-right: $margin-2;
    font-size: $text-3;
  }

  &:hover {
    color: $pink-5;
    border-color: $pink-5;
  }
}
