@import '../../template.scss';

.heading {
  @extend .heading-3;
  min-height: 4rem;
}

.sections {
  display: grid;
  grid-gap: $margin-4;
}

.sectionLabel {
  font-size: $text-1;
  margin-bottom: $margin-1;
  text-transform: uppercase;
  font-weight: 600;
}
