@import '../../template.scss';

.heading {
  @extend .heading-3;
  min-height: 4rem;
}

.sections {
  display: grid;
  grid-gap: $margin-4;
}

.sectionLabel {
  font-size: $text-1;
  margin-bottom: $margin-1;
  text-transform: uppercase;
  font-weight: 600;
}

.timeline {
  display: grid;
  grid-gap: $margin-2;
}

.event {
  display: list-item;
  list-style-type: disc;
  font-size: $text-5;
  font-family: $serif;
  color: $dark-10;
}

.addMeeting {
  @extend .btn;
}

.newItem {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-top: $margin-2;
  font-size: $text-2;
  color: $dark-5;
  text-transform: uppercase;

  svg {
    margin-left: $margin-1;
    font-size: $text-3;
  }

  &:hover {
    color: $pink-5;
  }
}
