@import '../../template.scss';

.heading {
  @extend .heading-3;
  min-height: 4rem;
}

.sections {
  display: grid;
  grid-gap: $margin-4;
}

.sectionLabel {
  font-size: $text-1;
  margin-bottom: $margin-1;
  text-transform: uppercase;
  font-weight: 600;
}

.timeline {
  display: grid;
  grid-gap: $margin-2;
}

.event {
  display: flex;
  align-items: center;
  font-size: $text-5;
  font-family: $serif;
  color: $dark-10;

  svg {
    margin-right: $margin-2;
  }
}

.eventTime {
  margin-left: $margin-2;
  color: $dark-5;
}

.editEvents {
  display: inline-block;
  margin-left: $margin-2;
  text-decoration: underline;
  cursor: pointer;
}
