@import '../../template.scss';

.trendingList {
  display: grid;
  grid-gap: $margin-2;
}

.trendingSong {
  display: grid;
  grid-gap: $margin-2;
  grid-template-columns: $text-2 auto;

  &:not(:first-of-type) {
    padding-top: $margin-2;
    border-top: 1px solid $dark-2;
  }
}
