@import '../../template.scss';

.sidebar {
  @extend .transition;
  margin-top: $margin-2;
  font-size: $margin-3;
  opacity: 0.3;
  min-height: 100vh;

  &:hover {
    opacity: 1;

    .tabMore {
      opacity: 0.1;
    }
  }

  @media (max-device-width: 768px) {
    min-height: auto;
  }
}

.sidetab {
  display: flex;
  align-items: center;
  padding: $margin-1;
  border-radius: $border-radius-1;

  a {
    @extend .truncate;
    width: 100%;
  }

  a:hover {
    color: $pink-5;
  }

  &:hover {
    background-color: $dark-1;

    .tabMore {
      opacity: 1;
    }
  }
}

.tabMore {
  @extend .transition;
  opacity: 0;
  cursor: pointer;
  font-size: $text-6;
  margin-left: $margin-3;

  &:hover {
    color: $pink-5;
  }
}

.active {
  font-weight: 600;
}

.sidebarButtons {
  display: grid;
  grid-gap: $margin-2;
  margin-bottom: $margin-4;
}

button.addBtn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: $text-2;
  border: 1px solid $dark-9;
  background-color: $white;

  svg {
    margin-right: $margin-1;
    font-size: $text-3;
  }

  &:hover {
    color: $pink-5;
    border-color: $pink-5;
  }
}

.label {
  margin: $margin-1;
  margin-top: $margin-4;
  font-size: $text-1;
  text-transform: uppercase;
}
