@import '../../template.scss';

.albumRecordings {
  width: $width-3;

  @media (max-device-width: 768px) {
    width: 100%;
  }
}

.recordingList {
  @extend .card;
  padding: 0;
}

.recordingIndex {
  color: $dark-5;
  margin-right: $margin-2;
}

.recording {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $dark-1;
  padding: $margin-3;
}

.recordingName {
  display: flex;
  align-items: center;
  width: 80%;

  > div {
    width: 100%;
  }
}

.recordingLink {
  @extend .hoverLink;
  @extend .truncate;
}

.trackSeeMore {
  margin-top: $margin-3;
}
