@import '../../template.scss';

.chartsPage {
  width: $width-3;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-3;

  @media (max-device-width: 768px) {
    width: 100%;
  }
}

.chartsHeader {
  @extend .heading-3;
  text-align: center;
  margin-top: $margin-3;

  @media (max-device-width: 768px) {
    font-size: $text-6;
  }
}

.chartsDescription {
  width: $width-2;
  font-size: $text-4;
  font-family: $serif;
  margin: 0 auto;
  margin-bottom: $margin-4;
  text-align: center;

  @media (max-device-width: 768px) {
    width: 100%;
  }
}

.chartsFeed {
  display: grid;
  grid-gap: $margin-3;
}

.discoverAlbumsRow {
  text-align: center;
  margin-top: $margin-4;

  @media (max-device-width: 768px) {
    > * {
      margin: $margin-2;
    }
  }
}
