@import '../../template.scss';

.myselfPage {
  width: $width-4;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-4;
}

.understanding {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $margin-4;
}

.item {
  @extend .card;
  padding: $margin-3;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  b {
    @extend .chip;
    font-size: $text-0;
    background-color: $dark-8;
    color: $white;
    text-transform: uppercase;
  }

  &:hover {
    color: $pink-5;
  }
}

.journal {
  @extend .card;

  [data-placeholder]:before {
    left: 15px;
  }

  p:before {
    content: '•  ';
  }
}
