@import '../../template.scss';

.homePage {
  width: $width-4;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-5;

  @media (max-device-width: 768px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.journal {
  @extend .card;
}
