@import '../../template.scss';

.homePage {
  width: $width-4;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-5;

  @media (max-device-width: 768px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.journal {
  @extend .card;

  [data-placeholder]:before {
    left: 15px;
  }

  p:before {
    content: '•  ';
  }
}

.reflect {
  @extend .card;
  display: grid;
  grid-gap: $margin-2;
}

.item {
  cursor: pointer;

  &:hover {
    color: $pink-5;
  }
}
