@import '../../template.scss';

.pageGrid {
  display: grid;
  grid-gap: $margin-3;
}

.gridGap2 {
  grid-gap: $margin-2;
}

.gridGap3 {
  grid-gap: $margin-3;
}

.gridGap4 {
  grid-gap: $margin-4;
}
