@import '../../template.scss';

.rating {
  font-size: $text-6;
  display: flex;
  align-items: center;
  margin: $margin-3 0;
  color: $dark-5;

  svg {
    margin-right: $margin-2;
  }
}

.activeStar {
  color: $pink-4;
}

.ratingText {
  font-size: $text-5;
  color: $pink-4;
}

.ratingSubtext {
  font-size: $text-3;
  margin-top: $margin-1;
  color: $dark-5;
}
