@import '../../template.scss';

.richText {
  font-size: $text-5;
  font-family: $serif;
  color: $dark-10;
  padding: 0;

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ol {
    padding-left: $margin-2;
  }

  ul {
    padding-left: $margin-1;
  }

  li {
    padding-left: $margin-3 !important;
  }
}
