@import '../../template.scss';

.commentBox {
  display: flex;
  border-radius: $border-radius-1;
  padding: $margin-2;
  background-color: $dark-1;
  width: 100%;

  textarea {
    background-color: $dark-1;
    width: 100%;
  }
}

.commentContainer {
  display: flex;
  margin-top: $margin-2;

  a {
    flex-shrink: 0;
    margin-right: $margin-3;
  }
}
