@import '../../template.scss';

.searchContainer {
  margin-right: auto;
  display: flex;
  font-size: $text-3;
}

.searchBar {
  @extend .transition;
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  background-color: $dark-1;
  width: calc(500rem / 14);

  @media (max-device-width: 768px) {
    width: calc(90rem / 14);
  }

  &:focus {
    @include placeholder($pink-4);
    color: $pink-5;
    border-bottom-color: $pink-4;
  }
}

.searchBtn {
  margin-left: $margin-2;
  color: $dark-6;
  background-color: $dark-1;

  &:hover:not([disabled]) {
    background-color: $dark-2;
  }
}
